/* account haeder style start*/
body{
	margin: 0;
   	padding: 0;
   	font-family:sans-serif;
}

.sidesshow{float: left; width: 100%;}
.use{position: relative; width: 100%; height: 100%; left:0px; right:0px; margin: 0px}
.vid_wrap{position: absolute; width: 100%; height: 650px; overflow-y: hidden; left:0px; right:0px}
.vid_wrap video{min-width: 100%; min-height: 100%; width: auto; height: auto; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);}
.base{ position: absolute; height: 150px; width: 100%; bottom: 0; padding:0px 5px; overflow-y: hidden; background: #eee}
.base_item{float: left; display: table; height: 100%; padding: 10px 5px;}
.base_item_inner{float: left; width: 100%; height: auto; display: table-cell; vertical-align: middle;}
.qr_img{display:block; width:80px; height:auto; margin:auto}
.qr_url{float: left; width: 100%; text-align: center; font-size: 15px; font-weight: bold; color: #666; padding-top: 15px}
.base_item_inner:last-child{right:0px}
