/*.upload_box{
  width: 100%;
  height: 200px;
  border: 4px dashed #aaa;
  margin:0px auto;
  overflow: hidden;
}
.upload_box p{
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 170px;
  color: #aaa;
  font-family: Arial;
}

.upload_box input{
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
}*/

#results{
    position: absolute;
    width: 930px;
    margin-left: 15px;
    z-index: 999999
}

.search_option{
    position: relative;
    padding: 15px;
    width: 100%;
    margin: 0px 0px 3px;
    background: #eee
}

.page-form{display: block; width: 100%; max-width: 700px; margin:0px auto;}
.control-label{text-align: left!important;}
.form-group{margin:0px!important}
.remove_route{position: absolute; right: -10px}
